<!-- Sección: Explorar lugares -->
 <h1>hh</h1>
<section id="explorar" class="seccion">
  <header>
    <h1>Lugares Turísticos Galápagos</h1>
    <p>Explora los destinos más fascinantes Galápagos</p>
  </header>

  <div *ngIf="cargando">Cargando lugares...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <!-- Mostrar lugar seleccionado -->
  <div *ngIf="lugarSeleccionado">
    <h2>{{ lugarSeleccionado.nombre }}</h2>
    <img [src]="lugarSeleccionado.imagen" [alt]="lugarSeleccionado.nombre" />
    <p>{{ lugarSeleccionado.descripcion }}</p>
  </div>

  <!-- Mostrar lista de lugares si no hay lugar seleccionado -->
  <div class="lugares" *ngIf="!lugarSeleccionado && lugares.length > 0">
    <div class="lugar" *ngFor="let lugar of lugares">
      <img [src]="lugar.imagen" [alt]="lugar.nombre" />
      <h2>{{ lugar.nombre }}</h2>
      <p>{{ lugar.descripcion }}</p>
      <div class="search-container">
        <button class="search-button" (click)="buscarHabitaciones(lugar.id)">Buscar Habitaciones</button>
      </div>
    </div>
  </div>

  <p *ngIf="!cargando && lugares.length === 0">No hay lugares disponibles.</p>
</section>
