<section id="acerca" class="seccion"  >
    <header>
      <h1>Acerca de Nosotros</h1>
      <p>Somos una plataforma dedicada a inspirar viajeros a explorar las hermosas Islas Galápagos.</p>
    </header>
    <div style="padding: 20px; max-width: 800px; margin: auto;">
      <h1>Objetivo</h1>
      <p>Nuestro objetivo es inspirar y guiar a los viajeros a descubrir la magia de las Islas Galápagos de manera auténtica, responsable y enriquecedora. 
        Buscamos promover el turismo sostenible, conectar a las personas con la naturaleza única del archipiélago y apoyar activamente a las comunidades locales. 
        Queremos ser un puente entre los viajeros y las maravillas naturales de Galápagos, facilitando experiencias seguras, informadas y memorables. 
        A través de contenido inspirador, recomendaciones confiables y un compromiso con la conservación, aspiramos a que cada visita contribuya a proteger este ecosistema único en el mundo. 
        Más que un destino, las Galápagos son una experiencia transformadora, y estamos aquí para ayudarte a vivirla al máximo.</p>
    <h1>Trabajo realizado por alumnos de la carrera de Software de la UTM:</h1>
    <p> ARIANNA MONSERRATE MOREIRA CEDEÑO<br>
        JOSE RAMON BRAVO SOLORZANO<br>
        BLAIR STEVEN DELGADO CORNEJO<br>
        CARLOS WILLIAM GE RAMIREZ</p>
    </div>
  </section>
